
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read and write access to all documents by anyone
    // THIS IS NOT SECURE FOR PRODUCTION
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
